@import '../../../stylings/config';

.separator {
    height    : 1px;
    background: rgba($black-color, 0.1);
    width     : 10rem;
    margin    : auto
}

.noresult {
    height         : 100vh;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}