/* You can add global styles to this file, and also import other style files */
@import './stylings/config';

body {
    font-family: 'Darker Grotesque', sans-serif;
    height     : 100vh;
}

.vspacer {
    height: 20px;
}

.hspacer {
    width: $global-padding;
}

input {
    background-color: transparent;
    outline         : 0;
    border-width    : 0 0 2px;
    border-color    : rgba($black-color, 0.1);
}

input:focus {
    border-color: $black-color;
}

.error__message {
    color      : rgba(red, 0.7);
    font-weight: 600;
    margin     : auto;
}